{% include "_includes/header.html" %}

<body>
    <!-- HOME -->
    <section id="home" class="full-screen"><!-- full-screen or half-screen (550px height) -->

    <div id="slider">

        <ul class="slides-container">

        <!-- Item 1 -->
        <li>
            <div class="image-caption">
            <hr /><hr />
            <div class="inner">
                <h2 class="bigtext strtoupper nomargin">{{ SITENAME|e }}</h2>
            </div>
            <hr /><hr />
            </div>
            <span class="overlay"></span>
            {% if HEADER_IMAGE  %}
            <div style="background-image: url('{{HEADER_IMAGE}}');" class="fullscreen-img"></div>
            {%else%}
            <div style="background-image: url('{{ BACKGROUND_IMAGE }}');" class="fullscreen-img"></div>
            {% endif %}           

        </li>
        </ul>

    </div>

    </section>
    <!-- /HOME -->

    <!-- Main Nav -->
        {% include "_includes/nav.html" %}
    <!-- /Main Nav -->

    <!-- ABOUT -->
    <section id="about">
    <div class="container">
        <header class="text-center">
        <h1>ABOUT</h1>
        </header>

        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <!-- Content for the first column (half width on small and larger screens) -->
              <iframe width="560" height="315" src="https://www.youtube.com/embed/3k7G6jh1Mc8?si=cDAZ_ANrRpgsNxs9&amp;start=22" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

            </div>
            <div class="col-sm-6">
              <!-- Content for the second column (half width on small and larger screens) -->
            <p>Hailing from the rain-streaked streets of the perpetually overcast city of Brussels, The Choesels is a four-piece collective that defies easy categorization. Forged in the crucible of late-night jam sessions and a shared disillusionment with the modern world, the band coalesced in the autumn of 2021. Their sound is an ethereal tapestry woven from the disparate threads of their influences, a sonic journey that is at once familiar and yet strangely new. With each member bringing their own unique flavor to the table, the result is a musical alchemy that transcends genre and speaks to the very soul of the listener.</p>

            </div>
          </div>
          <div class="row">
            <div class="col-12">
                <!-- Content for larger screens (full width) -->
                <p id="subtle-top-margin">The sonic <a href="#">landscape of The Choesels</a> is a rich and textured terrain, a place where shimmering guitar riffs cascade over a bedrock of intricate basslines and hypnotic drum patterns. Ethereal vocals, often laced with a poignant melancholy, float above the mix, delivering cryptic lyrics that hint at themes of love, loss, and the search for meaning in a world that often seems devoid of it. Drawing comparisons to a diverse and eclectic range of artists, from the dreamy soundscapes of the 90s to the raw energy of early 2000s indie rock, the band has cultivated a sound that is truly their own, a testament to their unwavering commitment to artistic integrity.</p>
                <p>Since their explosive debut on the local club circuit, The Choesels has been on a meteoric rise, captivating audiences with their electrifying live performances and a stage presence that is both enigmatic and intensely personal. They have shared the stage with a number of nationally touring acts, earning accolades for their professionalism and their ability to connect with a crowd on a primal level. Their debut EP, released to critical acclaim, has been praised for its mature songwriting and its polished, yet authentic, production, a clear indication of a band that is poised for a major breakthrough.</p>
                <p></p>
            </div>
          </div>
        </div>

        <div class="divider"><!-- lines divider --></div>

    </div>
    </section>
    <!-- /ABOUT -->

<!-- SCROLL TO TOP -->
<footer id="scroll-to-top-no-bg" class="text-right">
  <a href="#toTop" class="fa fa-arrow-up toTop"></a>
</footer>
