
{% set last_year = (CURRENT_DATE.year - 1) %}

    <!-- CONCERTS -->
    <section id="concerts">
    <div class="container">
        <header class="text-center">
        <h1>CONCERTS</h1>
        </header>

        <div class="container">

        </div>

        <article>
            <div class="row text-left">

                <div class="col-md-4">
                    <h3>Past &mdash; (199x-{{last_year}})</h3>
                    <p></p>
                    <p>read from yaml file here</p>
                    <p>1998-01-01 - basement, bxl</p>
                    <p>2004-02-12 - xmas party at mom's, liege</p>
                    <p>2015-03-11 - party in my pants, maastricht</p>
                </div>

                <div class="col-md-4"></div>

                <div class="col-md-4 text-right">
                    <h3>Upcoming {{ last_year+1 }}</h3>
                    <p></p>
                    <p>2025-01-01 - read from yaml file here</p>
                    <p>2025-02-02 - trallalal</p>
                </div>

            </div>
        </article>
        <div class="divider"><!-- lines divider --></div>

    </div>
    </section>
    <!-- /CONCERTS -->

<!-- this is the last section on the hompage. no scroll to to here since it's in the real footer -->
