{% set today = date.today() %}
{% set last_year = today.year - 1 %}


<!-- CONCERTS -->
<section id="concerts" class="arrow-down">
    <div class="container">
        <header class="text-center">
            <h1>LATEST CONCERTS</h1>
        </header>
        <div class="container">
            <div class="row">

            <!-- Upcoming concerts -->
            <div class="col-md-4 text-right">
                <h3 style="margin-bottom: 16px">Upcoming</h3>
                {% for concert in concerts %}
                    {% if concert.date|as_date >= today %}
                        <p>
                            {% if concert.date %}
                            <strong>{{ concert.date }}</strong><br />
                            {% endif %}
                            {% if concert.title %} {{ concert.title }}<br /> {% endif %}
                            {% if concert.location %} {{ concert.location }} {% endif %}
                        </p>
                    {% endif %}
                {% endfor %}
            </div>

                <!-- Col in the middle showing latest gig poster -->
                <div class="col-md-4">
                    <img class="display-center" src="{{SITEURL}}/theme/img/posters/{{ latest_poster }}" alt="" style="max-width: 350px;">
                </div>

                <!-- Past concerts -->
                <div class="col-md-4">
                    <h3 style="margin-bottom: 16px">Past</h3>
                    {% for concert in concerts[:5:-1] %}
                        {% if concert.date|as_date < today %}
                            <p>
                                {% if concert.date %}
                                <strong>{{ concert.date }}</strong><br />
                                {% endif %}
                                {% if concert.title %} {{ concert.title }}<br /> {% endif %}
                                {% if concert.location %} {{ concert.location }} {% endif %}
                            </p>
                        {% endif %}
                    {% endfor %}
                </div>
            </div><!-- /row text-left -->
        </div>
        </article>

        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 text-center"><a href="{{SITEURL}}/all-concerts.html">See all concerts</a><p></p></div>
            <div class="col-md-4"></div>
        </div>

        <div class="divider"><!-- lines divider --></div>
    </div><!-- / .container -->
</section>
<!-- /CONCERTS -->

<!-- this is the last section on the hompage. no scroll to top here since it's in the real footer -->
