
    <!-- MEMBERS -->
    <section id="members" class="alternate arrow-down" style="padding-top: 100px;">
    <div class="container">
        <header class="text-center">
        <h1>MEMBERS</h1>
        </header>

      <article>
        <div class="row text-left" style="margin-top: 30px;">
             <div class="col-md-4">
                <img src="{{SITEURL}}/theme/img/dummy-image-black-250x250.png" />
            </div>
            <div class="col-md-8" style="margin-top: 30px;">
            <h3>TONTON</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. Etiam suscipit nisl eget lorem pellentesque quis iaculis mi mattis.</p>
            </div>
        </div>

        <div class="row text-left" style="margin-top: 30px;">
             <div class="col-md-4">
                <img src="{{SITEURL}}/theme/img/dummy-image-black-250x250.png" />
            </div>
            <div class="col-md-8" style="margin-top: 30px;">
            <h3>CHRIS</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. Etiam suscipit nisl eget lorem pellentesque quis iaculis mi mattis.</p>
            </div>
        </div>

        <div class="row text-left" style="margin-top: 30px;">
             <div class="col-md-4">
                <img src="{{SITEURL}}/theme/img/dummy-image-black-250x250.png" />
            </div>
            <div class="col-md-8" style="margin-top: 30px;">
            <h3>FABIEN</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. Etiam suscipit nisl eget lorem pellentesque quis iaculis mi mattis.</p>
            </div>
        </div>

        <div class="row text-left" style="margin-top: 30px;">
             <div class="col-md-4">
                <img src="{{SITEURL}}/theme/img/dummy-image-black-250x250.png" />
            </div>
            <div class="col-md-8" style="margin-top: 30px;">
            <h3>ULF</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. Etiam suscipit nisl eget lorem pellentesque quis iaculis mi mattis.</p>
            </div>
        </div>

        </article>

        <div class="divider"><!-- lines divider --></div>



    </div>
    </section>
    <!-- /MEMBERS-->

<!-- SCROLL TO TOP -->
<footer id="scroll-to-top-no-bg" style="top: -20px;">
  <a href="#toTop" class="fa fa-arrow-up toTop"></a>
</footer>
  <p></p>
  <p></p>